.iconSpanish:hover, .iconFrench:hover, .iconEnglish:hover{
  cursor: pointer;
  opacity: 0.4;
}
.languageChoice {
  width: 104px;
  display: flex;
  justify-content: space-between;
}
.iconSpanish {
  opacity: 1;
}
.iconFrench {
  opacity: 0.64;
}
.iconEnglish {
  opacity: 0.64;
}
